/* #region Base */
body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #ffffff;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: #2e2f42;
}

a:hover,
a:focus {
  color: #404bbf;
}
/* #endregion */

/* #region Common */
.advantages-subtitle,
.team-subtitle,
.portfolio-subtitle {
  color: #2e2f42;
  font-weight: 500;
  font-size: 20px;
  letter-spacing: 0.02em;
  line-height: 1.2;
}

.advantages-text,
.team-text,
.portfolio-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.team-title,
.portfolio-title {
  color: #2e2f42;
  font-weight: 700;
  font-size: 36px;
  letter-spacing: 0.02em;
  line-height: 1.11;
  text-align: center;
  text-transform: capitalize;
}

/* #endregion */

/* #region Header */
.nav {
}

.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}

.dark {
  color: #2e2f42;
}
.nav-list {
}

.nav-item {
  color: #2e2f42;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.address-list {
  font-style: normal;
}

.address-item {
  color: #434455;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
/* #endregion */

/* #region Hero Section */
.hero-section {
  background-color: #2e2f42;
}

.hero-title {
  color: #ffffff;
  font-weight: 700;
  font-size: 56px;
  letter-spacing: 0.02em;
  line-height: 1.07;
  text-align: center;
}

.hero-btn {
  color: #ffffff;
  background-color: #4d5ae5;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
}

.hero-btn:hover,
.hero-btn:focus {
  background-color: #404bbf;
  cursor: pointer;
}
/* #endregion */

/* #region Adventages Section */
.advantages {
  background-color: #ffffff;
}

.advantages-title {
}

.advantages-item {
}

/* #endregion */

/* #region Team Section */
.team {
  background-color: #f4f4fd;
}

.team-list {
}

.team-item {
  background-color: #ffffff;
}

.team-img {
}

.team-subtitle {
  text-align: center;
}

.team-text {
  text-align: center;
}
/* #endregion */

/* #region Portfolio Section */
.portfolio {
  background-color: #ffffff;
}

.portfolio-list {
}

.portfolio-item {
}

.portfolio-subtitle {
  text-transform: capitalize;
}

.portfolio-img {
}

/* #endregion */

/* #region Footer */
.footer {
  background-color: #2e2f42;
}

.light {
  color: #f4f4fd;
}

.footer-text {
  color: #f4f4fd;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
/* #endregion */
